$vpn-tablet-width: 768px;
$vpn-desktop-width: 1024px;
$docsaurus-tablet-max-width: 996px;
$docsaurus-desktop-min-width: 997px;

@mixin docsaurus-tablet-max {
  @media (max-width: #{$docsaurus-tablet-max-width}) {
    @content;
  }
}

@mixin docsaurus-desktop-min {
  @media (min-width: #{$docsaurus-desktop-min-width}) {
    @content;
  }
}

@mixin vpn-tablet {
  @media (min-width: #{$vpn-tablet-width}) {
    @content;
  }
}

@mixin vpn-desktop {
  @media (min-width: #{$vpn-desktop-width}) {
    @content;
  }
}
